<div class="container text-center my-4">
  <!-- Título principal -->
  <h1 class="titulo-principal">CentralDent</h1>
  <img class="diente" src="../icno.jpg" alt="diente"  >
  <br>

  <!-- Contenedor para la imagen y el contenido -->
  <div class="row align-items-center contenido">
    <!-- Imagen -->
    <div class="col-md-6 img1">
      <img src="../dientes0.jpg" alt="dentista" class="fondo-img img-fluid"><br><br><br>
    </div>
    <!-- Texto y botón -->
    <div class="col-md-6">
      <h1 style="color: rgb(0, 145, 255);">Bienvenido</h1> <BR><BR>
      <div class="bregistro">
        <a href="http://salud-a-un-click.com/registro">
          <button class="btn-76">Continuar
            <span class="top"></span>
            <span class="right"></span>
            <span class="bottom"></span>
            <span class="left"></span>
          </button>
          <!-- <button id="buscarBtn" class="btn btn-primary" type="button">
            <h3>Continuar</h3>
          </button> --><BR><BR><BR><BR><BR>
        </a>
        <p class="text"><A>AGENDA UNA CITA CON NOSOTROS</A></p>
        <p> <b> "Nuestro consultorio dental es un espacio diseñado para tu comodidad 
          y bienestar. Desde el momento en que entras, te sentiras en un ambiente relajado 
          y acogedor, donde tu salud bucal es nuestra prioridad."</b></p>
          <p><b> DDS. Carlos Camacho</b></p>
      </div>
    </div>
  </div>
  <!-- Imágenes en las esquinas -->
  <img src="../esquina1.jpg" alt="Esquina Superior Izquierda" class="img2 top-left">
  <img src="../esquina2.jpg" alt="Esquina Superior Derecha" class="img2 top-right">
  <img src="../esquina3.jpg" alt="Esquina Inferior Izquierda" class="img2 bottom-left">
  <img src="../esquina4.jpg" alt="Esquina Inferior Derecha" class="img2 bottom-right" >
</div>
